.form-detail-study .ant-upload.ant-upload-select-picture-card {
  width: 185px;
  height: 185px;
}

.form-detail-study .ant-input-number {
  width: 100%;
}

.form-detail-study .ant-form-item {
  margin-bottom: 0;
}
