.ant-layout-content {
  padding: 0 70px;
}

.login-student__logo {
  background-color: #a9dbc1;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login-student__logo img {
  margin: 20px;
  width: 55px;
}

.header-student {
  display: flex;
  align-items: center;
  background-color: #36516d;
  padding: 0 70px;
}

.header-student .logo-mobile {
  display: none;
}

.header-student img {
  width: 45px;
  aspect-ratio: 1/1;
  margin-right: 15px;
}

.header-student__title {
  min-width: 270px;
}

.header-student__title h2 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.5;
}

.menu-student {
  width: 410px;
  margin-left: auto;
  background-color: #36516d;
  border-bottom: none;
}

.menu-student .ant-menu-item-selected {
  font-weight: 700;
}

.menu-student .ant-menu-title-content a {
  color: #fff;
}

.menu-student .ant-menu-title-content a:hover {
  color: #fff;
}

.main-student {
  margin-top: 30px;
}

.introduce-student h3 {
  font-size: 24px;
  font-weight: 600;
}

.introduce-student h4 {
  font-size: 20px;
  font-weight: 600;
}

.introduce-student h5 {
  font-size: 16px;
  font-weight: 600;
}

.introduce-student .content-img {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.introduce-student .content-img.space {
  justify-content: space-between;
}

.introduce-student .content-img.center {
  justify-content: center;
}

.introduce-student .content-img img {
  object-fit: contain;
}

.introduce-student .isMobile {
  display: none;
  margin-bottom: 90px;
}

.info-student__card {
  width: 50%;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px #ddd;
}

.change-pass-student .ant-form-item {
  margin-bottom: 0;
}

.change-pass-student h3 {
  font-size: 20px;
  font-weight: 700;
}

.detail-course__title {
  margin-bottom: 20px;
}

.detail-course__title span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.detail-course__left img {
  width: 80%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 30px;
}

.detail-course__right p:first-child {
  margin-bottom: 20px;
  font-size: 16px;
}

.rpv-core__viewer {
  height: 750px !important;
  margin-bottom: 40px;
}

.detail-course .ant-tree-switcher-noop {
  display: none;
}

.detail-course .ant-tree .ant-tree-node-content-wrapper {
  border-radius: 20px;
}

.detail-course__item {
  padding: 5px 15px;
  border-radius: 20px;
}

.detail-course__item.active {
  background: rgb(139, 198, 236);
  background: linear-gradient(
    135deg,
    rgba(139, 198, 236, 1) 0%,
    rgba(149, 153, 226, 1) 100%
  );
}

.detail-course__item.active span {
  color: #fff !important;
}

.detail-test__content h3 {
  font-size: 24px;
  font-weight: 700;
}

.detail-test__content .ant-alert {
  margin-bottom: 20px;
}

.content-test-student {
  min-height: 100vh;
  padding: 20px 70px 0;
}

.content-test-student h3 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.content-test-student .content-test-student__list {
  padding-bottom: 90px;
}

.nav-mobile {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 70px;
  background: rgb(149, 153, 226);
  background: linear-gradient(
    135deg,
    rgba(149, 153, 226, 1) 70%,
    rgba(139, 198, 236, 1) 100%
  );
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mobile .menu-mobile {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-mobile .menu-mobile a {
  position: relative;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.nav-mobile .menu-mobile a:hover,
.nav-mobile .menu-mobile a.active {
  transform: translateY(-8px);
}

.nav-mobile .menu-mobile a.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
  transform: translateY(8px);
}

.nav-mobile .menu-mobile a .anticon {
  font-size: 18px;
}

@media screen and (max-width: 990px) {
  .header-student__title {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .info-student__card {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .detail-course__left img {
    width: 100%;
  }
  .detail-course__right {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 720px) {
  .ant-layout-content {
    padding: 0 20px;
  }

  .header-student {
    justify-content: space-between;
    padding: 0 20px;
  }

  .header-student .logo-mobile {
    display: block;
  }

  .header-student .header-student__btn {
    display: none;
  }

  .header-student .ant-divider {
    display: none;
  }

  .menu-student {
    display: none;
  }

  .introduce-student .isMobile {
    display: block;
  }

  .introduce-student .isDesktop {
    display: none;
  }

  .content-test-student {
    padding: 0 20px;
  }

  .content-test-student .btn-fixed {
    bottom: 10px !important;
  }
}

@media screen and (max-width: 420px) {
  .content-test-student .ant-result-extra a,
  .content-test-student .ant-result-extra button {
    margin: 3px;
  }
}
