.ant-layout-content {
  padding: 0 70px;
}

.login-student {
  height: 100vh;
}

.login-student__logo {
  background-color: #a9dbc1;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login-student__logo img {
  margin: 20px;
  width: 55px;
}

.header-student {
  display: flex;
  align-items: center;
  background-color: #9599e2;
  padding: 0 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header-student .logo-mobile {
  display: none;
}

.header-student img {
  width: 45px;
  aspect-ratio: 1/1;
  margin-right: 15px;
}

.header-student__title {
  min-width: 270px;
}

.header-student__title h2 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.5;
}

.menu-student {
  width: 420px;
  margin-left: auto;
  background-color: #9599e2;
  border-bottom: none;
}

.menu-student .ant-menu-item {
  font-weight: 700;
}

.main-student .ant-menu-item::after {
  border-color: #fff !important;
}

/* .menu-student .ant-menu-item-selected {
  font-weight: 700;
} */

.menu-student .ant-menu-title-content a {
  color: #fff;
}

.menu-student .ant-menu-title-content a:hover {
  color: #fff;
}

.student-dropdown .ant-dropdown-menu-item:first-child {
  background-color: #9599e2;
  color: #fff;
}

.student-dropdown
  .ant-dropdown-menu-item:not(.ant-dropdown-menu-item:first-child) {
  color: #9599e2;
  font-weight: 600;
  transition: 0.2s;
}

.student-dropdown
  .ant-dropdown-menu-item:not(.ant-dropdown-menu-item:first-child)
  a {
  display: flex;
  align-items: center;
}

.student-dropdown
  .ant-dropdown-menu-item:not(.ant-dropdown-menu-item:first-child):hover {
  background: rgb(139, 198, 236);
  background: linear-gradient(
    45deg,
    rgba(139, 198, 236, 1) 0%,
    rgba(149, 153, 226, 1) 20%
  );
  color: #fff;
}

.student-dropdown
  .ant-dropdown-menu-item:not(.ant-dropdown-menu-item:first-child)
  .anticon {
  font-size: 18px;
  margin-right: 8px;
}

.main-student {
  margin-top: 30px;
}

.home-student h3 {
  color: #9599e2;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
}

.home-student a.link-hover {
  color: #9599e2;
  font-weight: 600;
  font-size: 16px;
}

.introduce-student h3 {
  font-size: 24px;
  font-weight: 600;
}

.introduce-student h4 {
  font-size: 20px;
  font-weight: 600;
}

.introduce-student h5 {
  font-size: 16px;
  font-weight: 600;
}

.introduce-student .content-img {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.introduce-student .content-img.space {
  justify-content: space-between;
}

.introduce-student .content-img.center {
  justify-content: center;
}

.introduce-student .content-img img {
  object-fit: contain;
}

.introduce-student .isMobile {
  display: none;
  margin-bottom: 90px;
}

.info-student__card {
  width: 60%;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: rgb(149, 153, 226);
  background: linear-gradient(
    135deg,
    rgba(149, 153, 226, 1) 70%,
    rgba(139, 198, 236, 1) 100%
  );
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  /* border: 1px solid #ddd; */
  /* box-shadow: 3px 3px 3px #ddd; */
}

.info-student__card .ant-card-body {
  display: flex;
  align-items: center;
}

.info-student__card .ant-row {
  width: 50%;
  flex: 1;
}

.info-student__card .info-svg {
  height: 250px;
}

.change-pass-student .ant-form-item {
  margin-bottom: 0;
}

.change-pass-student h3 {
  font-size: 20px;
  font-weight: 700;
  color: #9599e2;
}

.detail-course__title {
  margin-bottom: 20px;
}

.detail-course__title span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.detail-course__left {
  padding: 15px;
  background: rgb(139, 198, 236);
  background: radial-gradient(
    circle,
    rgba(139, 198, 236, 1) 0%,
    rgba(149, 153, 226, 1) 50%
  );
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.detail-course__left b {
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
}

.detail-course__left b.thematic-title {
  font-size: 20px;
}

.detail-course__left .btn-bg {
  border-radius: 15px;
  font-size: 15px;
}

.detail-course__left img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 30px;
}

.detail-course__right {
  padding: 0 30px;
}

.detail-course__right p:first-child {
  color: #9599e2;
  margin-bottom: 20px;
  font-size: 18px;
}

.rpv-core__viewer {
  height: 750px !important;
  margin-bottom: 40px;
}

.detail-course .ant-tree-switcher-noop {
  display: none;
}

.detail-course .ant-tree .ant-tree-node-content-wrapper {
  border-radius: 20px;
}

.detail-course__item {
  padding: 5px 15px;
  border-radius: 20px;
}

.detail-course__item.active {
  background: rgb(139, 198, 236);
  background: linear-gradient(
    135deg,
    rgba(139, 198, 236, 1) 0%,
    rgba(149, 153, 226, 1) 100%
  );
}

.detail-course__item.active span {
  color: #fff !important;
}

.detail-test__content h3 {
  font-size: 24px;
  font-weight: 700;
}

.detail-test__content .ant-alert {
  margin-bottom: 20px;
}

.content-test-student {
  min-height: 100vh;
  padding: 20px 70px 0;
}

.content-test-student h3 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.content-test-student .content-test-student__list {
  padding-bottom: 90px;
}

.results-student .ant-tabs-nav::before,
.content-course-student .ant-tabs-nav::before {
  border-color: #9599e2;
}

.results-student .ant-tabs-tab,
.content-course-student .ant-tabs-tab {
  border-radius: 5px 5px 0 0 !important;
  border-color: #9599e2 !important;
  background-color: #9599e2 !important;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.results-student .ant-tabs-tab-active,
.content-course-student .ant-tabs-tab-active {
  border-color: #9599e2 !important;
  background-color: #fff !important;
  border-bottom-color: #fff !important;
}

.results-student .ant-tabs-tab-active .ant-tabs-tab-btn,
.content-course-student .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #9599e2 !important;
}

.nav-mobile {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 70px;
  background: rgb(149, 153, 226);
  background: linear-gradient(
    135deg,
    rgba(149, 153, 226, 1) 70%,
    rgba(139, 198, 236, 1) 100%
  );
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mobile .menu-mobile {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-mobile .menu-mobile a {
  position: relative;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.nav-mobile .menu-mobile a:hover,
.nav-mobile .menu-mobile a.active {
  transform: translateY(-8px);
}

.nav-mobile .menu-mobile a.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
  transform: translateY(8px);
}

.nav-mobile .menu-mobile a .anticon {
  font-size: 18px;
}

.modal-custom .ant-modal-content .ant-modal-header {
  background-color: #9599e2;
  background: linear-gradient(
    135deg,
    rgba(149, 153, 226, 1) 0%,
    rgba(142, 184, 233, 1) 75%,
    rgba(149, 153, 226, 1) 100%
  );
}

.modal-custom .ant-modal-content .ant-modal-header .ant-modal-title,
.modal-custom .ant-modal-content .ant-modal-close {
  color: #fff;
}

.list-search {
  margin-top: 10px;
}

.list-search .ant-list-item {
  border: none;
}

.list-search__item a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  background: rgb(139, 198, 236);
  background: linear-gradient(
    135deg,
    rgba(139, 198, 236, 1) 0%,
    rgba(149, 153, 226, 1) 30%
  );
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list-search__item a img {
  width: 120px;
  height: 70px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 15px;
}

.content-course-student h3 {
  color: #9599e2;
  font-weight: 600;
  font-size: 18px;
}

@media screen and (max-width: 1400px) {
  .info-student__card {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .info-student__card {
    width: 90%;
  }
}

@media screen and (max-width: 990px) {
  .header-student__title {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .info-student__card {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .detail-course__right {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 720px) {
  .ant-layout-content {
    padding: 0 20px;
  }

  .header-student {
    justify-content: space-between;
    padding: 0 20px;
  }

  .header-student .logo-mobile {
    display: block;
  }

  .header-student .header-student__btn {
    display: none;
  }

  .header-student .ant-divider {
    display: none;
  }

  .menu-student {
    display: none;
  }

  .introduce-student .isMobile {
    display: block;
  }

  .introduce-student .isDesktop {
    display: none;
  }

  .content-test-student {
    padding: 0 20px;
  }

  .content-test-student .btn-fixed {
    bottom: 10px !important;
  }

  .courses-student {
    padding-bottom: 70px;
  }

  .content-course-student {
    margin-bottom: 150px;
  }

  .change-pass-student,
  .info-student {
    margin-bottom: 90px;
  }

  .results-student {
    margin-bottom: 90px !important;
  }
}

@media screen and (max-width: 700px) {
  .info-svg {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .content-test-student .ant-result-extra a,
  .content-test-student .ant-result-extra button {
    margin: 3px;
  }

  .info-student__card {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .info-student__card {
    font-size: 12px;
  }
}
