.card-course {
  border-radius: 20px;
  background: rgb(0, 180, 219);
  background: linear-gradient(
    135deg,
    rgba(0, 180, 219, 1) 0%,
    rgba(0, 131, 176, 1) 100%
  );
  cursor: pointer;
}

.card-course .ant-card-body {
  display: flex;
  /* align-items: stretch; */
  padding: 15px;
}

.card-course img {
  width: 30%;
  /* aspect-ratio: 1/1; */
  border-radius: 20px;
  object-fit: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-right: 20px;
}

.card-course__content {
  width: 70%;
}

.card-course__content h4,
.card-course__content p {
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.card-course__content h4 {
  font-size: 18px;
  font-weight: 600;
}

.card-course__content p {
  margin-bottom: 5px;
}

.card-course__tag {
  margin-bottom: 5px;
}

.card-course__tag .course-tag:last-child {
  margin-right: 0;
}

.course-tag {
  display: inline-block;
  background-color: #fff;
  /* min-width: 80px; */
  border-radius: 15px;
  padding: 2px 10px;
  text-align: center;
  margin: 3px 0;
  margin-right: 10px;
  font-weight: 700;
  color: #00b4db;
  font-size: 12px;
}

.course-progress {
  margin-bottom: 15px;
}

.course-progress .ant-progress-inner {
  border: 2px solid #fff;
}

.course-progress .ant-progress-text {
  color: #fff;
  font-weight: 600;
}

.course-listbtn button {
  margin: 3px 0;
  margin-right: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transform: 0.5s;
  font-size: 12px;
}

.course-listbtn button:last-child {
  margin-right: 0;
}

.course-listbtn button:hover {
  border-color: #fff;
  background-color: #fff;
  color: #00b4db;
}

/* @media screen and (max-width: 1200px) {
  .course-listbtn button {
    font-size: 12px;
  }
} */
