body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ddd;
  /* background: rgb(139, 198, 236);
  background: linear-gradient(
    135deg,
    rgba(139, 198, 236, 1) 0%,
    rgba(149, 153, 226, 1) 100%
  ); */
}

.btn-primary {
  background-color: #396da2;
  border-color: #396da2;
  transition: 0.5s;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #37587b;
  border-color: #37587b;
}

.btn-student {
  font-weight: 600;
  background-color: #9599e2;
  border-color: #9599e2;
  transition: 0.5s;
}

.btn-student:hover,
.btn-student:focus {
  background-color: #8bc6ec;
  border-color: #8bc6ec;
}

.btn-bg {
  font-weight: 600;
  background-color: #fff;
  border-color: #fff;
  color: #9599e2;
  transition: 0.5s;
}

.btn-bg:hover,
.btn-bg:focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.ant-picker {
  width: 100%;
}

.ant-tag {
  font-size: 13px;
}

.ant-table-content::-webkit-scrollbar {
  height: 8px;
}

.ant-table-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ddd;
}

.ant-input-number {
  width: 100%;
}

.ant-table .ant-table-expanded-row-fixed {
  margin: 0 -16px;
}

.btn-search .ant-input-search-button {
  /* background-color: #36516d;
  border: #36516d; */
  background-color: #9599e2;
  border: #9599e2;
}

.ant-drawer-header-title {
  flex-direction: row-reverse;
}

.text-gray {
  color: #888 !important;
}

.splide__arrow {
  background: #fff !important;
  opacity: 1 !important;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%) !important;
}

.splide__arrow--prev {
  left: 0 !important;
  transform: translate(-50%, -50%) !important;
}

.splide__arrow--next {
  right: 0 !important;
  transform: translate(50%, -50%) !important;
}

.splide__arrow:disabled {
  cursor: not-allowed;
}

.btn-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 60px;
  font-size: 24px;
  font-weight: 600;
}

.link-hover {
  position: relative;
}

.link-hover::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: 0.3s;
}

.link-hover:hover::before {
  width: 0;
  right: auto;
  left: 0;
}

@media screen and (max-width: 720px) {
  .btn-fixed {
    bottom: 100px;
    left: initial;
    right: 10px;
    height: initial;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    background: rgb(139, 198, 236);
    background: linear-gradient(
      135deg,
      rgba(139, 198, 236, 1) 0%,
      rgba(149, 153, 226, 1) 100%
    );
    border-color: transparent;
  }
}
